#body {
  box-sizing: border-box;
  margin: 0;
}

.darkBody {
  background-color: black;
  color: white;
}

.header {
  padding: 30px 50px;
  justify-content: center;
  display: flex;
}

#light-dark-button {
  border: none;
  background: none;
  font-size: 30px;
}

.blackChange {
  color: white;
}

#main {
  display: grid;
  place-items: center;
  gap: 3%;
}

.container-list {
  border: 1px solid;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 2px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 280px;
}

h2 {
  margin: 0;
}

.darkUl {
  color: white;
  padding: 0;
}

.container-inputs {
  text-align: right;
  box-shadow: 0 0 5px 0;
  display: flex;
  border-radius: 10px;
}

.inputs-options {
  border: 1px solid;
  width: 85%;
  border-radius: 10px 0 0 10px;
  padding: 5px 10px;
  font-size: 18px;
  text-align: right;
}

.addButtons {
  border-radius: 0 10px 10px 0;
  border: 1px solid gray;
  width: 15%;
  padding: 5;
}

.list {
  padding: 0;
  max-width: 300px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  height: 30px;
}

@media (min-width: 768px) {
  #main {
    grid-template-columns: 1fr 1fr;
  }

  .container-list {
    max-width: 350px;
  }
}

@media (min-width: 1024px) {
  #main {
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    padding: 20px;
  }

  .container-list {
    max-width: 270px;
  }

  .list {
    max-width: 250px;
  }
}


@media (min-width: 1440px) {
  #main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container-list {
    max-width: 534px;
    width: 90%;
    align-items: center;
  }
}
